    <div style="margin:10px;">
<button class="btn btn-primary" ui-sref="main.articleList({acountId:article.acountId})">返回文章列表</button>
</div>
 <label  class="text-danger nieyueText" style="font-size:30px;color:#ccc;">修改文章</label>
<br/>
<!-- 修改-->
	<form style="margin-bottom:100px" novalidate name="myUpdateArticleForm" ng-submit="updateArticleForm()">
    <label  class="text-danger">※标题</label>
  <div class=" comment-input-margin">
    <input type="text" class=" comment-input" ng-model="article.title" name="title" required ng-minlength="2" ng-maxlength="64" placeholder="2-64位">
    <div class="text-danger alert alert-danger " ng-show="myUpdateArticleForm.title.$dirty && myUpdateArticleForm.title.$invalid">
		<i class="glyphicon glyphicon-info-sign"></i>输入正确标题
	</div>
  </div>
    <label  class="text-danger">※类型</label>
  <div class=" comment-input-margin">
    <input type="text" class=" comment-input" ng-model="article.type" name="type" required ng-minlength="2" ng-maxlength="32" placeholder="2-32位">
    <div class="text-danger alert alert-danger " ng-show="myUpdateArticleForm.type.$dirty && myUpdateArticleForm.type.$invalid">
		<i class="glyphicon glyphicon-info-sign"></i>输入正确类型
	</div>
  </div>
   <label  class="text-danger" ng-if="sessionAcount.roleId==1000">※文章状态</label>
  <div class=" comment-input-margin" ng-if="sessionAcount.roleId==1000">
  <select style="width:180px;height:50px;" ng-model="article.status" name="status" ng-init="article.status=model"   ng-options="model for model in ['正常','完成']">
  </select>
  </div>
  <label  class="text-danger" ng-if="sessionAcount.roleId==1000">※计费模式</label>
  <div class=" comment-input-margin" ng-if="sessionAcount.roleId==1000">
  <select style="width:180px;height:50px;" ng-model="article.model" name="model" ng-init="article.model='CPC'"   ng-options="model for model in ['CPC','CPM','CPS']">
  </select>
  </div>
   <label class="text-danger" ng-if="sessionAcount.roleId==1000">※单价（必填）</label>
  <div class="comment-input-margin " ng-if="sessionAcount.roleId==1000">
    <input type="text" class="comment-input" required name="unitPrice"
     ng-model="article.unitPrice" ng-pattern="/(^[+]?[1-9]\d*(\.\d{1,2})?$)|(^[+]?[0]{1}(\.\d{1,2})?$)/"  placeholder="两位小数" >
    <div class="text-danger alert alert-danger " ng-show="myUpdateArticleForm.unitPrice.$dirty && myUpdateArticleForm.unitPrice.$invalid">
		<i class="glyphicon glyphicon-info-sign"></i>两位小数
	</div>
  </div>
   <label class="text-danger" ng-if="sessionAcount.roleId==1000">※总价（必填）</label>
  <div class="comment-input-margin " ng-if="sessionAcount.roleId==1000">
    <input type="text" class="comment-input" required name="totalPrice"
     ng-model="article.totalPrice" ng-pattern="/(^[+]?[1-9]\d*(\.\d{1,2})?$)|(^[+]?[0]{1}(\.\d{1,2})?$)/"  placeholder="两位小数" >
    <div class="text-danger alert alert-danger " ng-show="myUpdateArticleForm.totalPrice.$dirty && myUpdateArticleForm.totalPrice.$invalid">
		<i class="glyphicon glyphicon-info-sign"></i>两位小数
	</div>
  </div>
   <label class="text-danger" ng-if="sessionAcount.roleId==1000">※用户单价（必填）</label>
  <div class="comment-input-margin " ng-if="sessionAcount.roleId==1000">
    <input type="text" class="comment-input" required name="userUnitPrice"
     ng-model="article.userUnitPrice" ng-pattern="/(^[+]?[1-9]\d*(\.\d{1,2})?$)|(^[+]?[0]{1}(\.\d{1,2})?$)/"  placeholder="两位小数" >
    <div class="text-danger alert alert-danger " ng-show="myUpdateArticleForm.userUnitPrice.$dirty && myUpdateArticleForm.userUnitPrice.$invalid">
		<i class="glyphicon glyphicon-info-sign"></i>两位小数
	</div>
  </div>
    <label  class="text-danger" ng-if="sessionAcount.roleId==1000">※是否热门推荐，默认否</label>
 <div class="comment-input-margin " ng-if="sessionAcount.roleId==1000">
    <input type="radio" name="isRecommend" ng-init="article.isRecommend=0" ng-model="article.isRecommend" value="0"/>否
	<input type="radio" name="isRecommend"  ng-model="article.isRecommend" value="1"/>是<br>
  </div>
   <label  class="text-danger" ng-if="sessionAcount.roleId==1000">※是否置顶，默认否</label>
  <div class="comment-input-margin " ng-if="sessionAcount.roleId==1000">
    <input type="radio" name="fixedRecommend" ng-init="article.fixedRecommend=0"  ng-model="article.fixedRecommend" value="0"/>否
	<input type="radio" name="fixedRecommend"  ng-model="article.fixedRecommend" value="1"/>是<br>
  </div>
  
    <label  class="text-danger">※封面图片</label>
  <div class="comment-input-margin">
    <input type="file" class="comment-input"   id="articleImgFileUpload">
  <div ng-repeat="img in article.imgList" style="display: inline-block;position: relative;" ng-mouseenter="delImgBtn=true">
  <img style="width:300px;height: 200px;"   ng-src="{{img.imgAddress||''}}"/>
  <span  ng-click="delImg(img)" style="background-color:#fff;position: absolute;top:0;right:0">×</span>
  </div>
  </div>
   <div>
  <input type="radio" ng-click="selectState=1" ng-show="sessionAcount.roleId==1000" value="1" ng-model="selectState" name="selectState"/>链接
  <input type="radio" ng-model="selectState" ng-click="selectState=2" value="2" name="selectState"/>内容
  </div>
  <label  class="text-default" ng-show="selectState==1">*链接地址</label>
  <div class=" comment-input-margin" ng-show="selectState==1">
    <input type="text" class=" comment-input"
   ng-pattern="/((http|ftp|https):\/\/[\w\-_]+(\.[\w\-_]+)+([\w\-\.,@?^=%&:/~\+#]*[\w\-\@?^=%&/~\+#])?)/"
      ng-model="article.redirectUrl" name="redirectUrl"
      placeholder="http://或https://">
      <div class="text-danger alert alert-danger " ng-show="myUpdateArticleForm.redirectUrl.$dirty && myUpdateArticleForm.redirectUrl.$invalid">
		<i class="glyphicon glyphicon-info-sign"></i>链接地址错误
	</div>
     </div>
    <label  class="text-danger" ng-show="selectState==2">※内容</label>
  <div class=" comment-input-margin" ng-show="selectState==2">
        <textarea id="articleUpdateEditor" style="min-width:500px;min-height:500px;" >
        <p></p>
        </textarea>
  </div>
  <input type="submit" class="btn btn-lg btn-danger" 
  ng-disabled="myUpdateArticleForm.$invalid || formDisabled" value="提交"/>
</form>
<!-- 修改end-->
