    <label  class="text-danger nieyueText" style="font-size:30px;color:#ccc;">添加光明网文章域名</label>
<br/>
<!-- 增加 -->
	<form novalidate name="myAddGmwDomainForm" ng-submit="addGmwDomainForm()">
 <!-- <label class="text-danger" ng-if="sessionAcount.roleId==1000">※文章分值（必填，越小越在前）</label>
  <div class="comment-input-margin " ng-if="sessionAcount.roleId==1000">
    <input type="text" class="comment-input" required name="score"
     ng-model="domain.score" ng-pattern="/(^\+?[1-9][0-9]*$)/"  placeholder="正整数" >
    <div class="text-danger alert alert-danger " ng-show="myAddGmwDomainForm.score.$dirty && myAddGmwDomainForm.score.$invalid">
		<i class="glyphicon glyphicon-info-sign"></i>大于0正整数
	</div>
  </div> -->
 <label class="text-danger" ng-if="sessionAcount.roleId==1000">※分享光明网文章域名（必填）</label>
  <div class="comment-input-margin " ng-if="sessionAcount.roleId==1000">
    <input type="text" class="comment-input" required name="gmwDomain"
     ng-model="domain.gmwDomain" ng-pattern="/(^(?=^.{3,255}$)[a-zA-Z0-9][-a-zA-Z0-9]{0,62}(\.[a-zA-Z0-9][-a-zA-Z0-9]{0,62})+$)/"  placeholder="如:www.baidu.com" >
    <div class="text-danger alert alert-danger " ng-show="myAddGmwDomainForm.gmwDomain.$dirty && myAddGmwDomainForm.gmwDomain.$invalid">
		<i class="glyphicon glyphicon-info-sign"></i>域名错误
	</div>
  </div>
  <input type="submit" class="btn btn-lg btn-danger" 
  ng-disabled="myAddGmwDomainForm.$invalid || formDisabled" value="提交"/>
</form>
<!-- 增加 end-->

<!-- 光明网域名列表选择 -->
<div style="margin:10px;">
<label  class="text-danger nieyueText" style="font-size:30px;color:#ccc;">光明网域名列表</label>
</div>
<!-- 光明网域名列表选择end -->
<!-- 光明网域名列表 -->
		<div style="width:100%" class="tableWrap">
			<table class="table table-bordered" style="width:100%">
			<tr>
			  <th>序号</th>
			  <th>域名</th>
			  <th>操作</th>
			</tr>
			<tr ng-repeat="gmw in gmwDomainList" >
			  <td >
			  <span ng-bind="$index+1"></span>
			  </td>
			  <td >
			  <span ng-bind="gmw"></span>
			  </td>
			  <td >
			  <span class="btn btn-danger" ng-click="delGmwDomain(gmw)">删除</span>
			  </td>
			</tr>
			</table>
		</div>
<!-- 光明网域名列表end -->
	<!-- 页面列表end -->
