<div style="margin:10px;">
<button class="btn btn-primary" ui-sref="main.schoolList">返回学堂列表</button>
</div>
 <label  class="text-danger" style="font-size:30px;color:#ccc;">修改学堂</label>
<br/>
<!-- 修改 -->
	<form novalidate name="myUpdateSchoolForm" ng-submit="updateSchoolForm()">
    <label  class="text-danger">※标题</label>
  <div class=" comment-input-margin">
    <input type="text" class=" comment-input" ng-model="school.title" name="title" required ng-minlength="2" ng-maxlength="32" placeholder="2-32位">
    <div class="text-danger alert alert-danger " ng-show="myUpdateSchoolForm.title.$dirty && myUpdateSchoolForm.title.$invalid">
				    	<i class="glyphicon glyphicon-info-sign"></i>输入正确学堂标题
				    </div>
  </div>
    <label  class="text-danger">※内容</label>
  <div class=" comment-input-margin">
    <!-- 
     <textarea type="text" style="min-width:500px;min-height:300px;" class=" comment-input" ng-model="school.content" name="content" required ng-minlength="2" ng-maxlength="10000" placeholder="2-10000位">
    </textarea>
<div class="text-danger alert alert-danger " ng-show="myUpdateSchoolForm.content.$dirty && myUpdateSchoolForm.content.$invalid">
				    	<i class="glyphicon glyphicon-info-sign"></i>输入正确学堂内容
				    </div>
     -->
		<textarea id="schoolUpdateEditor" style="min-width:500px;min-height:500px;" >
        <p></p>
        </textarea>
  </div>
  <input type="submit" class="btn btn-lg btn-danger" 
  ng-disabled="myUpdateSchoolForm.$invalid || formDisabled" value="提交"/>
</form>
<!-- 修改end-->